
<ion-header>

  <ion-navbar>
    <ion-title>Level One &nbsp; <ion-icon name="heart"></ion-icon> {{health}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-card padding>
  <p>{{scene}}</p>
  <p><strong>What Do You Do {{name}}?</strong></p>
 </ion-card>
 <div *ngIf="scene1">
 <button ion-button outline full (click)="scene1action('dead')">Play Dead</button>
 <button ion-button outline full (click)="scene1action('attack')">Attack</button>
 <button ion-button outline full (click)="scene1action('scream')">Scream For Help</button>
 </div>
 <div *ngIf="scene2">
 <button ion-button outline full (click)="scene2action('dead')">Dead</button>
 <button ion-button outline full (click)="scene2action('attack')">Att</button>
 <button ion-button outline full (click)="scene2action('scream')">Help</button>
 </div>
</ion-content>
